{% extends '@admin/admin_base.html.twig' %}

{% block title %}List!{% endblock %}

{% block body %}
<div class="parameters-wrapper">

    {% for parameter in parameters %}
    <div class="parameter-wrapper">

        {% trans from 'parameter' %}name{% endtrans %}: {{ parameter.name }}<br/>
        {% for value in parameter.value  %}
        {% trans from 'parameter' %}value{% endtrans %}: {{ value }}<br/>
        {% endfor %}

        <a href="{{ path('parameter.detail', {"uuid": parameter.uuid}) }}">{% trans from 'global' %}Detail{% endtrans %}</a>
    </div>
    {% endfor %}

</div>
<a href="{{ path('parameter.create') }}">{% trans from 'global' %}Create{% endtrans %}</a>
{% endblock %}
