{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

    <main class="bg-linear-gradient text-color">

        <section class="bg-light m-15">
            left
        </section>
        <section class="bg-dark m-15">
            right
        </section>

    </main>

{% endblock %}