{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}

    <main class="flex flex-wrap justify-center items-center xl:flex-no-wrap xl:items-center w-screen max-w-screen h-auto p-10 xl:mt-auto mb-auto">

        <section class="flex justify-center items-center w-full xl:w-1/2 h-full">

            <div class="flex flex-col w-full xl:w-auto xl:flex-wrap xl:flex-row bg-grey-warm-20 text-grey-cool-100 rounded-lg xl:rounded shadow-lg overflow-hidden">
                <img src="assets/images/portrait.jpg"
                     alt="portrait"
                     class="w-1/2 xl:w-1/4 h-auto rounded-full ml-auto mr-auto mt-10 xl:m-0 xl:p-5">
                <div class="flex flex-col w-auto m-10 text-center xl:w-2/4 xl:m-0 xl:p-5">
                    <span class="text-6xl xl:text-2xl font-bold">Simon JOUAN</span>
                    <span class="text-4xl xl:text-base text-grey-warm-100">Développeur Web FullStack</span>
                </div>
                <div class="flex w-full justify-center items-center bg-aubergine-dark-100 text-grey-warm-20 p-10 xl:p-5 xl:w-1/4 xl:p-5 text-4xl">
                    réseau
                </div>
            </div>

        </section>

        <section class="hidden xl:flex justify-center items-center xl:w-1/2 h-full bg-aubergine-dark-100 text-grey-warm-20">
            right
        </section>

    </main>

{% endblock %}