
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> ide configuartion ###
/.idea
###< ide configuartion ###

###> .env file ###
.env.dev
###< .env file ###

###> php-cs-fixer cache file ###
.php_cs.cache
###< php-cs-fixer cache file ###