@import "color";

.app-bg-linear-gradient {
  background: $main_color;
  background: linear-gradient(145deg, $main_color 0%, $second_color 100%);
}

.app-bg-dark {
  background-color: $main_color_dark;
  color: $text_color_light;
}

.app-bg-light {
  background-color: $third_color;
  color: $text_color_dark;
}

.app-text-light {
  color: $text_color_light;
}

.app-text-dark {
  color: $text_color_dark;
}