// colors
$main_color: #5E2750;
$main_color_light: #77216F;
$main_color_dark: #2C001E;
$second_color: #E95420;
$third_color: #FFFFFF;
$fourth_color: #000000;
$grey: #333333;
$light_grey: #AEA79F;
$dark_grey: #111111;

$text_color_light: $third_color;
$text_color_dark: $dark_grey;
