{% extends 'base.html.twig' %}

{% block title %}Site temporarily under maintenance{% endblock %}

{% block body %}

    <div class="flex flex-col w-full xl:w-auto bg-grey-warm-20 text-grey-cool-100 rounded-lg xl:rounded shadow-lg overflow-hidden transition-all p-4">

        <h1>Site temporarily under maintenance</h1>
        <p>Sorry for the inconvenience, we will get back soon !</p>

    </div>

{% endblock %}