{% block footer %}

    <footer class="bg-aubergine-dark-100 text-grey-warm-20 w-full h-auto p-10 xl:p-5 text-center text-4xl xl:text-base">
        Mode with <span class="text-orange-ubuntu-100">&#9829;</span> and Symfony / Tailwind CSS. Copyright &copy; {{ "now"|date("Y") }} Simon JOUAN
    </footer>

{% endblock %}