{% block footer %}

    <div class="h-1 w-full bg-grey-warm-20 animation-rotate-this"
         style="
            background-image:  linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
        "></div>
    <footer class="bg-aubergine-dark-100 text-grey-warm-20 w-full h-auto p-10 xl:p-5 text-center text-4xl xl:text-base">
        Mode with <span class="text-orange-ubuntu-100">&#9829;</span> and Symfony / Tailwind CSS. Copyright &copy; {{ "now"|date("Y") }} Simon JOUAN
    </footer>

{% endblock %}